<!DOCTYPE html>
<html ng-app="myApp">

<head lang="en">
    <meta charset="utf-8">
    <title>ngGrid Example</title>
    <script type="text/javascript" src="node_modules/ng-grid/lib/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="node_modules/ng-grid/lib/jquery-ui-1.9.1.custom.min.js"></script>
    <!-- <script type="text/javascript" src="node_modules/ng-grid/lib/angular.min.js"></script> -->
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/ng-grid/ng-grid-2.0.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="node_modules/ng-grid/ng-grid.css" />
    <link rel="stylesheet" type="text/css" href="http://ui-grid.info/docs/css/bootstrap-flatly.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script type="text/javascript" src="scripts/main.js"></script>
</head>

<body ng-controller="MyCtrl">
    <div>
      <button class="btn btn-info" ng-class="{active: isInView('student')}" ng-click="loadStudentData()">View Student Info</button>
      <button class="btn btn-info" ng-class="{active: isInView('teacher')}" ng-click="loadTeacherData()">View Teacher Info</button>
    </div>
    <div class="gridStyle" ng-grid="gridOptions"></div>
    
</body>

</html>
